.navbar 
{
    text-align: center;
    overflow: hidden;
    margin-left: 15em;
    margin-right: 15em;
} 
.navbar li 
{
    float: left; 
    
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}

body 
{
    background-image: url(photos/IMG_1350_opacity.6);
    background-size: 100%;
    background-repeat: repeat;
}


a:link, a:visited {
    display: block;
    width: 100px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #004983;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 5em;
}

a:hover, a:active {
    background-color: ;
}

.main 
{
    margin-left: 15em;
    margin-right: 15em;
    background-color: white;
    opacity: .8;
    border: 1px chartreuse solid;
    padding: 1em;
}

img 
{
    float: left;
    margin-right: 100px;
    min-width: 220px; 
    min-height: 150px;
}

hr {
    margin-left: 15em;
    margin-right: 15em;
    color: #004983;
}

h2 {
    color: purple;
}