.navbar 
{
    text-align: center;
    overflow: hidden;
    margin-left: 15em;
    margin-right: 15em;
} 
.navbar li 
{
    float: left; 
    
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body 
{
    background-image: url(IMG_1358.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}


a:link, a:visited {
    display: block;
    width: 100px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #004983;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 5em;
}

a:hover, a:active {
    background-color: ;
}

.main 
{
    margin-left: 15em;
    margin-right: 15em;    
}

img 
{
    float: left;
    margin-right: 100px;
    min-width: 220px; 
    min-height: 150px;
}

